/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
}

.content {
  display: flex;
  width: 100%;
}

/* Chat List Styles */
.chat-list {
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: #128c7e;
  color: #fff;
  padding: 20px;
}

.chat-list h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.chat-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat-list li {
  display: flex;
  align-items: center;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-list li:hover {
  background-color: #0a6f61;
}

.chat-list img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-details {
  display: flex;
  flex-direction: column;
}

.chat-contact-name {
  font-weight: bold;
}

.chat-last-message {
  color: #ccc;
}

/* Chat Area Styles */
.chat-area {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.chat-area > .initialChatArea {
  font-size: 1.5rem;
  color: gray;
  font-weight: lighter;
  display: flex;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
}

.chat-area .chat-messages {
  display: flex;
  flex-direction: column;
}

.chat-area .chatMessage {
  padding: 15px;
  max-width: 40%;
  min-width: fit-content;
  margin: 0.5rem 1rem;
}

.chat-area .myMessage {
  background-color: #0a6f61;
  align-self: flex-end;
  color: #fff;
  border-radius: 10px 0px 15px 10px;
  box-shadow: -3px 3px 5px gray;
}

.chat-area .otherMessage {
  background-color: aliceblue;
  /* background-color: #f2f2f2; */
  color: #555;
  align-self: flex-start;
  font-weight: 500;
  border-radius: 0px 10px 10px 15px;
  box-shadow: 3px 3px 5px gray;
}

.chat-area .chat {
  padding: 20px;
  background-color: #fff;
  /* width: 100%; */
  height: 100vh;
}

.chat-area .messageSenderDiv {
  position: fixed;
  bottom: 0;
  right: 20;
  padding-bottom: 20px;
  width: 70%;
  margin: 0 auto;
}

.chat-area .messageSenderDiv .messageForm {
  /* width: 80%; */
  display: flex;
  justify-content: space-around;
}

.chat-area .messageSenderDiv .messageForm .messageInput {
  width: 90%;
  padding: 20px 15px;
  font-size: 1rem;
  outline: none;
  border: 0px;
  background-color: lightgray;
  border-radius: 10px;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chat-header h2 {
  font-size: 24px;
}

.close-chat-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #128c7e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-messages p {
  margin-bottom: 10px;
}

/* Navigation Bar Styles */
.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 999;
}

.hamburger {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  right: 20;
  margin-top: 20px;
  cursor: pointer;
}

.hamburger .line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

.hamburger .cross {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 5px;
}

.navigation-bar.expanded {
  width: 200px;
  background-color: rgb(228, 225, 225);
}

.navigation-bar .navigation-options {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.navigation-bar .navigation-options li {
  padding: 8px 16px;
  color: #128c7e;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation-bar .navigation-options li:hover {
  background-color: #0a6f61;
  color: #fff;
}

.theme-toggle {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  /* color: #fff; */
  color: #128c7e;
}

.theme-toggle span {
  margin-right: 5px;
  color: #128c7e;
}

.theme-toggle .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.theme-toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #128c7e;
  border-radius: 12px;
  transition: 0.4s;
}

.theme-toggle .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  /* background-color: #fff; */
  background-color: #128c7e;

  border-radius: 50%;
  transition: 0.4s;
}

.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-toggle input:checked + .slider {
  background-color: #128c7e;
}

.theme-toggle input:checked + .slider:before {
  transform: translateX(24px);
}
