body {
  background: #222;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 100%;
}

.searchForm input {
  all: unset;
  background-color: #333;
  padding: 20px;
  color: gainsboro;
  border-radius: 50px;
  width: 70%;
}

.chatList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eachChat {
  display: flex;
  margin: 20px auto;
  background-color: #111;
  padding: 15px 10px;
  color: gainsboro;
  width: 90%;
  border-radius: 20px;
}

.eachChat img {
  width: 62.44px;
  border-radius: 100%;
  margin: 0px 20px;
}
